<div class="container">
  <h1>My bookings</h1>

  <% @rents.each do |rent| %>
    <div class="bike-card-actions">
      <p>Bike : <%= rent.bike.model %> from <%= rent.bike.brand %></p>
      <p>From: <%= rent.start_date %> to <%= rent.end_date %></p>
      <p>Duration: <%= rent.rental_duration %> h</p>
      <p>Cost: <%= rent.total_price %> €</p>
      <p>Status: <%= rent.status %></p>
    </div>
  <% end %>

  <div class="bike-card-actions">
    <%= link_to 'Back to dashboard', dashboard_path %>
  </div>
</div>
