<div class="container my-5 py-5 bg-light">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <h2 class="text-center mb-5"> <%= @bike.brand%> <%= @bike.model%> bike</h2>
          <h4 class="text-center mb-5"> Bike available in <%= @bike.location%></h4>
          <img class="card-img-top" src="<%= cl_image_path @bike.picture.key %>" alt="<%= @bike.brand%> <%= @bike.model%>">
          <div class ="d-flex justify-content-center">
            <div class = "col-6">
              <%= simple_form_for [@bike, @rent], data: { controller: 'flatpickr' }, class:"d-flex justify-content-center" do |f| %>
                <div class="form-group text-center mt-3">
                  <%= f.input :start_date,  as: :string,  label: "Start Date", input_html: { data: { flatpickr_target: "startDate" } }, class: "form-control" %>
                </div>
                <div class="form-group text-center mt-3">
                  <%= f.input :end_date, as: :string, label: "End Date", input_html: { data: { flatpickr_target: "endDate" } }, class: "form-control" %>
                </div>
                <div class="form-group text-center mt-3">
                  <%= f.button :submit, "Book this Bike !", class: "btn btn-primary" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
