<div class="container mt-3">
  <h1>Welcome to your dashboard, <%= @user.first_name %> !</h1>

  <div class ="container mt-3">
    <h2> My bikes available for rental </h2>
    <div class="row">
      <% @bikes.each do |bike| %>
        <div class="col-md-4">
          <div class="bike-card">
            <%= render 'bikes/product-card', bike: bike %>
            <div class="bike-card-actions">
              <%= link_to "More info", bike_path(bike) %>
              <%= link_to "Edit", edit_bike_path(bike), class: "ms-3 text-warning" %>
              <%= link_to "Remove", bike_path(bike),
                  data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                  class: "ms-3 text-danger"
              %>
            </div>
          </div>
        </div>
      <% end %>
      <h5><i class="fa-solid fa-plus"></i><%= link_to 'Add a bike', new_bike_path %></h5>
      <h5>You currently have <%= @owner_rent.length%> rents, with <%= @owner_rent.pending.length %> to check.  <%=link_to "My rentals", owner_rents_rents_path %></h5>
    </div>
  </div>

  <div class ="container mt-3">
    <h2>My bookings</h2>
    <div class="col-12">
      <h5><%= link_to "See my booking status", rents_path %></h5>
    </div>
  </div>
</div>
