<div class="container mt-3">
  <div class="row">
    <h1>Welcome to your dashboard, <%= @user.first_name %> !</h1>
    <div class="col-3">
      <h2 style="margin-top: 20px;">Status</h2>
      <div class="sticky-links">
        <ul class="list-group list-group-flush">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <%=link_to "My rentals", owner_rents_rents_path, class: 'link-dark' %>
            <% if @owner_rent.pending.length.zero?  %>
              <span class="badge bg-primary rounded-pill"><%= @owner_rent.pending.length %> to check</span>
            <% else %>
              <span class="badge bg-warning rounded-pill"><%= @owner_rent.pending.length %> to check</span>
            <% end %>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <%= link_to "My bookings", rents_path, class: 'link-dark' %>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-9">
      <h2 style="margin-top: 20px;"> My bikes available for rental </h2>
      <div class="row">
        <% @bikes.each do |bike| %>
          <div class="col-md-5">
            <div class="bike-card">
              <%= render 'bikes/product-card', bike: bike %>
              <div class="bike-card-actions">
                <%= link_to "More info", bike_path(bike) %>
                <%= link_to "Edit", edit_bike_path(bike), class: "ms-3 text-warning" %>
                <%= link_to "Remove", bike_path(bike),
                    data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                    class: "ms-3 text-danger"
                %>
              </div>
            </div>
          </div>
        <% end %>
        <h5 style="text-align:right;"><i class="fa-solid fa-plus"></i><%= link_to 'Add a bike', new_bike_path %></h5>
      </div>
    </div>
  </div>
</div>
