<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <%= link_to 'Create new bike', new_bike_path %>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <%= link_to "My rentals (as a bike user)", rents_path, class: "ms-3 text-warning" %>
    </div>
    <div class="col-12">
      <%= link_to "My rentals (as an owner)", owner_rents_rents_path, class: "ms-3 text-warning" %>
    </div>
    <div class="col-12">
      <%= link_to 'Back to bikes index', bikes_path %>
    </div>
  </div>

  <div class ="container mt-3">
    <h1> My bikes available for rental </h1>
    <table class="table">
      <thead>
        <tr>
          <th>Brand</th>
          <th>Model</th>
          <th>Price per hour</th>
        </tr>
      </thead>
      <tbody>
        <% @bikes.each do |bike| %>
          <tr>
            <td><%= bike.brand %></td>
            <td><%= bike.model %></td>
            <td><%= bike.price %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class ="container mt-3">
  <h1> My current bookings' requests</h1>
    <table class="table">
    <thead>
      <tr>
        <th>Bike Brand</th>
        <th>Bike Model</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Booking duration</th>
        <th>Total Price</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% @rents.each do |rent| %>
        <tr>
          <td><%= rent.bike.brand %></td>
          <td><%= rent.bike.model %></td>
          <td><%= rent.start_date %></td>
          <td><%= rent.end_date %></td>
          <td><%= rent.rental_duration %> hours</td>
          <td><%= rent.total_price %>€</td>
          <td><%= rent.status %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
 </div>

