<div class="hero-banner">
  <div class="container">
    <div class="hero-banner-content">
      <h1>Welcome to BIKEE - rent a bike anywhere!</h1>
      <p>Bikee is the brand new cool way to <strong>rent bikes between private owners</strong></p>
      <p>Choose a bike near you, book it, wait for renter approval, and let's ride !</p>
      <a class="btn btn-primary" href="#">Apply now</a>
    </div>
  </div>
</div>

<div class="container mt-3 mb-3">
  <div class="row">
    <div class="col-12 text-center mb-4">
      <h1>Our bike collection below!</h1>
    </div>
  </div>

  <div class="row">
    <% @bikes.each do |bike| %>
      <div class="col-md-4">
        <div class="bike-card">
          <div class="bike-card-image" style="background-image: url('<%= cl_image_path bike.picture.key, crop: :fill %>')"></div>
          <div class="bike-card-content">
            <div class="bike-card-title">
              <h4><%= bike.brand %></h4>
              <h5><%= bike.model %></h5>
            </div>
            <div class="flex">
              <div class="flex align-items-center">
                <i class="fa-solid fa-euro-sign"></i>
                <span><%= bike.price %></span>
              </div>
              <div class="flex align-items-center ms-3">
                <i class="fa-solid fa-location-pin"></i>
                <span><%= bike.location %></span>
              </div>
              <div class="flex align-items-center ms-3">
                <% if bike.electric %>
                  <span>Electric</span>
                <% else %>
                  <span>Manual</span>
                <% end %>
              </div>
            </div>
          </div>
          <div class="bike-card-actions">
            <%= link_to "More info", bike_path(bike) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="container">
  <div style="width: 100%; height: 600px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
