  <div class="row justify-content-center">
    <div class="col-md-6">
      <%= simple_form_for @bike do |f| %>
          <%= f.input :brand, class: "form-control" %>
          <%= f.input :model, class: "form-control" %>
          <%= f.input :price, class: "form-control", input_html: {min: 0} %>
          <%= f.input :location, class: "form-control" %>
          <%= f.input :electric,  as: :select, collection: [['Yes',true], ['No',false]], required: true, class: "form-control" %>
          <%= f.input :picture, as: :file, required: true %>
          <%= f.button :submit, "Submit", class: "btn btn-primary" %>
      <% end %>
        <p><%= link_to "Cancel", dashboard_path %></p>
    </div>
  </div>
