<div class="bike-card-image" style="background-image: url('<%= cl_image_path bike.picture.key %>')"></div>
<div class="bike-card-content">
  <div class="bike-card-title">
    <h4><%= bike.brand %></h4>
    <h5><%= bike.model %></h5>
  </div>
  <div class="flex">
    <div class="flex align-items-center">
      <i class="fa-solid fa-euro-sign"></i>
      <span><%= bike.price %>/day</span>
    </div>
    <div class="flex align-items-center ms-3">
      <i class="bike-card-pin fa-solid fa-location-pin ms-1"></i>
      <span><%= bike.location %></span>
    </div>
    <div class="flex align-items-center ms-3">
      <% if bike.electric %>
        <span>Electric</span>
      <% else %>
        <span>Manual</span>
      <% end %>
    </div>
  </div>
</div>
