<div class="map" style="background-image: url('<%= cl_image_path @bike.picture.key, :transformation=>[{gravity: 'bicycle', :crop=>"crop"}, {:crop=>"fill"}] %>')"></div>

<div class="container margin-top-negative">
  <div class="row">
    <div class="col-8">
      <div class="bike-show-card">
        <h1><%= @bike.brand %></h1>
        <p class="bike-show-address"><%= @bike.model %></p>
      </div>
      <div class="bike-show-card">
        <h3>This bike is available in <strong><%= @bike.location %></strong></h3>
        <%# <% url = "https://maps.googleapis.com/maps/api/staticmap?center=#{@bike.location}&zoom=13&scale=2&size=1000x1000&maptype=roadmap&markers=color:red%7C&key=AIzaSyAPpx0wk4d-AQ8bhe8-a-ihC7NXLoPElhg" %>
        <% url = "https://api.mapbox.com/styles/v1/mapbox/streets-v12/static/#{@bike.longitude},#{@bike.latitude},10.,0,0/600x600?access_token=#{ENV['MAPBOX_API_KEY']}" %>
        <div class="map" style="background-image: url(<%= url %>)"></div>
      </div>
    </div>

    <div class="col-4">
      <div class="bike-show-card">
        <% unless current_user == @bike.user %>
          <h5>Book this bike!</h5>
          <div>
            <%= link_to new_bike_rent_path(params[:id]), class: 'btn btn-success text-decoration-none' do %>
              Book now !
            <% end %>
          </div>
        <% end %>
        <% if current_user == @bike.user %>
          <%= link_to "Edit my Bike", edit_bike_path(@bike), class: "btn btn-warning text-decoration-none" %>
        <% end %>
      </div>
</div>

      </div>
      <div class="bike-show-card">
        <h3>Details</h3>
        <div class="flex">
          <div class="flex">
            <% if @bike.electric%>
            <p>Electric bike</p>
            <% else %>
            <p>Muscular (manual) bike</p>
            <% end %>
          </div>
          <div class="flex ms-3">
            <%= @bike.price %>€ per day
          </div>
        </div>
      </div>
      <div class="bike-card-actions">
        <%= link_to 'Back to bikes', bikes_path %>
      </div>
    </div>
  </div>
</div>
