<div class="map" style="background-image: url('<%= cl_image_path @bike.picture.key, height: 350, aspect_ratio: '3:1', :background=>"white", :crop=>"pad" %>')"></div>

<div class="container margin-top-negative">
  <div class="row">
    <div class="col-8">
      <div class="bike-show-card">
        <h1><strong><%= @bike.brand.capitalize %></strong> <%= @bike.model.capitalize %></h1>
        <p class="bike-show-address">rented by
        <%= link_to user_profile_path(@bike.user) do %>
          <%= @bike.user.first_name %>
        <% end %>
        </p>
      </div>
      <div class="bike-show-card">
        <h3>A bit more about this bike...</h3>
        <quote>
          <%= @bike.description %>
        </quote>
      </div>
      <div class="bike-show-card">
        <% url = "https://api.mapbox.com/styles/v1/mapbox/streets-v12/static/#{@bike.longitude},#{@bike.latitude},10.,0,0/600x600?access_token=#{ENV['MAPBOX_API_KEY']}" %>
        <h3>Available in <strong><%= @bike.location %></strong></h3>
        <div class="map" style="background-image: url(<%= url %>)"></div>
      </div>
    </div>

    <div class="col-4">
      <div class="sticky">
        <div class="bike-show-card-transparent">
          <% if current_user == @bike.user %>
            <%= link_to 'Edit my bike', edit_bike_path(@bike), class: 'btn btn-secondary btn-lg shadow' %>
          <% else %>
            <%= link_to 'Book this bike', new_bike_rent_path(@bike), class: 'btn btn-primary btn-lg shadow' %>
          <% end %>
        </div>
        <div class="bike-show-card">
          <h3>Details</h3>
          <div class="flex">
            <div class="flex">
              <span><i class="fa-solid fa-euro-sign"></i><%= @bike.price.round %>/hr</span>
            </div>
            <div class="flex ms-3">
              <% if @bike.electric %>
                <span><i class="fa-solid fa-bolt"></i> Electric</span>
              <% else %>
                <span><i class="fa-solid fa-dumbbell"></i> Manual</span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
